/*======================================
CSS DOCUMENT FOR MEDIA QUERIES
HAVE TO CALL IT IN SETTINGS FILE var course_csslibs = ['../global/css/media_queries.css'...
======================================*/


/*-------------------- Large Devices  -------------------------*/
@media (max-width: 1199px) and (min-width: 992px) {
main, #footer_inner {width:900px;}
}

/*-------------------- Medium Devices, standard 1330px with educator left column  -------------------------*/
@media (max-width: 991px) and (min-width: 768px){
main, #footer_inner  {width:720px;}	
.well-sm {margin-left:-71px;}
}

/*-------------------- Small Devices, standard 1024px with educator left column  -------------------------*/
@media (max-width: 767px)
{
main, #footer_inner  {width:100%;}
	
}

/*--------------------  X-Small Devices, phones, etc. -------------------------*/
{
	
}

