/* CSS Document */
.row {font-family: 'latin_modern_roman10_regular';}
#side1 {background-image:url(../images/paper_bg1_ts.png); width:450px; height:584px; padding: 95px 95px 10px 80px; font-size:12.4px; line-height:1em;}
#side2 {background-image:url(../images/paper_bg2_ts.png); width:450px; height:450px; background-repeat:no-repeat; padding: 180px 40px 0px 55px; line-height:1.2em; }