/* CSS Document */
#paper {background-image:url(../images/03_04_03_clipping-blank_ts.png); width:430px; height:235px; padding: 50px 40px; font-family:'latin_modern_roman10_bold', Georgia, serif; font-weight:bold; line-height:1.2em; letter-spacing: -1px;}

