<!DOCTYPE html>
<html lang="en">
<head>
<title>Page Title</title>
<meta charset="utf-8" />
<script> 
  var pg_csslibs = []; // CSS Libs for this Page
  var pg_jslibs = []; // JS Libs for this Page
  var isexternal = true; // Loads External Assets
</script>
<script src="../../../global/js/settings.js" id="settingJS"></script>
</head>
<body>
  <div id=" externalContent">
 
    <h2>Popup Title</h2>
    <hr/>
    Your Content
    
    <hr/>
    <a href="javascript:print();" class="print">Print</a>  |   <a href="javascript:window.close();" class="page-close">Close</a>
 
     
  </div>
</body>
</html>

