/* CSS Document */
.paperbox {background:url(../images/02_02_03_newsimage_blank_ts.png) no-repeat; font-family: "latin_modern_roman10_regular", Palatino, serif; max-width:750px; min-height:210px; padding:45px 60px 20px 40px;}

