/* CSS Document */
.billings { background-image:url(../images/02_02_02_b_blank.png); background-size:cover; font-family: "latin_modern_roman10_regular", Palatino, serif; max-width:700px; min-height:350px; padding: 65px 55px;}
.audiobox {width:350px !important;}